.comment {
    margin: 1em;
}

.commentheader {
    float: left;
    width: 100%;
    /*padding: 1em 1em 0 1em;*/
    /*border: 1px solid black;*/
}

.commentgravatar, .commentuser, .commentdate {
    float: left;
    margin: 0 1em 0 1em;
}

.commentbody {
    float: left;
    width: 100%;
    /*padding: 0 1em 1em 1em;*/
    /*border: 1px solid black;*/
}

.commentbody p {
    padding: 0.5em 1em 0.5em 1em;
}

.commentheader a {
    text-decoration: none;
    color: black;
}
.commentheader a:hover {
    text-decoration: underline;
    color: blue;
}