<style type="text/css">
    @import "/css/comment.css"
</style>
<div id="comments">
    <h2>Comments</h2>
    <div class="header">
        Want to leave a comment or reply to others? Visit <a href="https://github.com/liyxi/liyxi.github.io/issues/1" target="_blank">this post's issue page on GitHub.</a>
    </div>
</div>
<script type="text/javascript" src="/js/date.min.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
    function loadComments(data) {
        for (var i=0; i<data.length; i++) {
            var cuser = data[i].user.login;
            var cuserlink = "https://www.github.com/" + data[i].user.login;
            var clink = "https://github.com/liyxi/liyxi.github.io/issues/{{ page.comment_issue_num }}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
            var cbody = data[i].body_html;
            var cavatarlink = data[i].user.avatar_url;
            var cdate = Date.parse(data[i].created_at).toString("yyyy-MM-dd HH:mm:ss");
            $("#comments").append("<div class='comment'><div class='commentheader'><div class='commentgravatar'>" + '<img src="' + cavatarlink + '" alt="" width="20" height="20">' + "</div><div class='commentuser'>User: <a href=\""+ cuserlink + "\">" + cuser + "</a></div><div class='commentdate'>Date: <a href=\"" + clink + "\">" + cdate + "</a></div></div><div class='commentbody'>" + cbody + "</div></div>");
        }
    }
    $.ajax("https://api.github.com/repos/liyxi/liyxi.github.io/issues/{{ page.comment_issue_num }}/comments?per_page=100", {
        headers  : {Accept : "application/vnd.github.full+json"},
        dataType : "json",
        success  : function(msg){
            loadComments(msg);
        }
    });
</script>
